/*FONTS*/
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}


/* Set padding to keep content from hitting the edges */
/*.body-content {
        display: inline-block;
        padding-top: 30px;
        width: 100%;
    }*/


/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none;
}

hr {
    border-color: #16A2A2 !important;
}

.capital {
    font-family: 'Roboto Slab';
    font-size: 25px;
    margin-bottom: 20px;
}

@media (max-width: 470px) {
    html, body {
        background: none !important;
    }
}

html, body {
    font-family: "Arial" serif;
    background-image: url('Images/sea_img.png');
    background-position-x: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 2% 10% 2% 10%;
}


.content {
    min-height: 550px;
    background: #fff;
    overflow: auto;
}

.wrap {
    width: auto;
    margin: 0 auto;
    box-shadow: 0px 0px 10px;
}


.header {
    padding: 10px 30px;
    height: 150px;
}

.logo {
    float: left;
    height: 100px;
    background: none;
}


/*-----Menu-----*/
#navbar #inputSearch {
    margin-top: 1.25%;
    margin-left: 15%;
    display: inline-block;
    width: 350px;
    height: 40px;
}

#navbar ul.navbar-nav li.highlight a {
    background: #fff;
    color: #000;
}

@media(max-width:1350px) {
    #navbar #inputSearch {
        margin-top: 1% !important;
        display: inline-block;
        margin-left: 15%;
        width: 70% !important;
    }
}
/*-----Menu-----*/



/*-----Carousel-----*/
#carousel-generic {
    width: 95%;
    height: 400px;
    padding-top: 30px;
    margin-bottom: 50px;
    left: 3%;
}

    #carousel-generic .item img {
        margin-left: 10%;
        height: 350px;
        max-width: 500px;
    }

.carousel-indicators .ol {
    color: #118085 !important;
}

.carousel-caption p {
    font-size: 20px;
    font-family: Roboto-Light;
}

.hotelName {
    font-family: Roboto-Bold;
    font-size: 30px;
    color: black;
}

@media (max-width: 960px) {
    #carousel-generic {
        display: none;
    }
}

/*-----Carousel-----*/


/*-----Left-----*/
@media (min-width: 960px) {
    #city {
        width: 20%;
        max-width: 400px;
        background-color: #fff;
        border-right: #0477CA solid 1px;
        min-height: 450px;
        padding-top: 40px;
        padding-left: 2%;
        display: inline-block;
        margin-bottom: 30px;
    }

        #city h3 {
            font-family: Roboto-Bold;
            font-size: 22px;
            color: #000;
        }

        #city li {
            display: inherit;
            margin-left: 20px;
        }

            #city li a {
                color: #000;
                font-size: 17px;
                line-height: 2;
                font-family: Roboto-MediumItalic;
                text-decoration-color: #000;
            }

                #city li a:hover {
                    color: #0477CA;
                    text-decoration: none;
                }
}

@media (max-width: 960px) {
    #city a, li, h3 {
        display: none;
    }
}

/*-----Center-----*/

.midContent {
    background-color: #fff;
    width: 100%;
    min-height: 800px;
    overflow: auto;
}

@media (max-width: 960px) {
    .mid {
        width: 90% !important;
        padding-left: 5%;
        float: none !important;
    }
}

.mid {
    width: 75%;
    min-height: 500px;
    display: inline-block;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}

    .mid #midHotel {
        height: 150px;
        width: 100%;
        border-bottom: 1px #0477CA solid;
        display: inline-block;
    }

        .mid #midHotel a:hover {
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(4, 119, 202, 0.36);
            text-decoration: none;
        }

    .mid #midImg {
        display: inline-block;
        width: 150px;
        margin-top: 25px;
    }

    .mid #midHotel img {
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .mid #midDescription {
        display: block;
        margin-left: 180px;
        margin-top: -100px;
    }

        .mid #midDescription .hotelName {
            font-family: Roboto-Bold;
            font-size: 200%;
        }

        .mid #midDescription p {
            font-family: Roboto-Light;
            font-size: 140%;
            color: #000;
        }






/*-----Gallery----*/

@media (max-width: 801px) {
    .gallery {
        width: auto !important;
    }

        .gallery a {
            display: inline-block;
            height: 30px;
            position: relative;
            width: 80px;
        }

            .gallery a:focus img {
                border: 0 !important;
                height: 150% !important;
                position: absolute;
                width: 150% !important;
            }

            .gallery a:focus:nth-child(3n+1) img {
                left: -25% !important;
            }
}


.gallery {
    width: 500px;
    min-height: 300px;
    margin-left: 20px;
    margin-top: 30px;
    background: #fff;
}

    .gallery a {
        display: inline-block;
        height: 100px;
        position: relative;
        width: 150px;
    }

        .gallery a img {
            border: 5px solid #fff;
            cursor: pointer;
            display: block;
            height: 100%;
            left: 0px;
            position: absolute;
            top: 0px;
            width: 100%;
            z-index: 1;
            background: #fff;
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition-property: width, height, top, bottom, left, right, z-index, border;
            -webkit-transition-duration: 0.5s;
            -moz-transition-property: width, height, top, bottom, left, right, z-index, border;
            -moz-transition-duration: 0.5s;
            -o-transition-property: width, height, top, bottom, left, right, z-index, border;
            -o-transition-duration: 0.5s;
            transition-property: width, height, top, bottom, left, right, z-index, border;
            transition-duration: 0.5s;
        }

        .gallery a:focus img {
            border: 15px solid #fff;
            cursor: default;
            height: 400%;
            position: absolute;
            width: 400%;
            z-index: 25;
            box-shadow: 1px 1px 5px #888;
            -moz-box-shadow: 1px 1px 5px #888;
            -webkit-box-shadow: 1px 1px 5px #888;
            -webkit-transition-property: width, height, top, bottom, left, right, z-index, border;
            -webkit-transition-duration: 0.5s;
            -moz-transition-property: width, height, top, bottom, left, right, z-index, border;
            -moz-transition-duration: 0.5s;
            -o-transition-property: width, height, top, bottom, left, right, z-index, border;
            -o-transition-duration: 0.5s;
            transition-property: width, height, top, bottom, left, right, z-index, border;
            transition-duration: 0.5s;
        }

        /* custom focus rules */
        .gallery a:focus:nth-child(3n+1) img {
            left: 50px;
        }
    /*.gallery a:focus:nth-child(3n+2) img {
    left:-50px;
}
.gallery a:focus:nth-child(3n+3) img {
    left:-250px;
}
.gallery a:focus:nth-child(-n+3) img {
    top:140px;
}
.gallery a:focus:nth-child(n+7) img {
    top:-150px;
}
.gallery a:focus:nth-child(n+10) img {
    top:-295px;
}*/

    /* extra close layer */
    .gallery .close {
        background: transparent;
        cursor: pointer;
        display: none;
        height: 352px;
        left: 170px;
        position: absolute;
        top: 160px;
        width: 500px;
        z-index: 30;
    }

    .gallery a:focus ~ .close {
        display: block;
    }
/*-----Gallery----*/



/*-----Details----*/

.detailsName {
    font-family: Roboto-Bold;
    text-shadow: 2px 2px 2px #888;
    font-size: 300%;
    color: black;
    margin-top: 50px;
    margin-left: 20px;
}

@media (max-width: 1000px) {
    .contact {
        width: 100% !important;
        min-height: 100px;
        height: auto !important;
        float: left !important;
        border-left: none !important;
    }
}


.contact {
    width: 50%;
    height: 300px;
    display: inline-block;
    float: right;
    border-left: 1px solid #0477CA;
    padding-left: 20px;
    font-family: Roboto-Light;
    font-size: 20px;
}

    .contact ul li {
        list-style-type: none;
    }

.description {
    border-top: #0477CA 1px solid;
    padding-top: 3%;
    min-height: 300px;
    font-family: Roboto-Light;
    font-size: 150%;
    margin-left: 3%;
    margin-right: 3%;
}





/*-----opinion----*/
.opinion {
    margin-left: 3%;
    margin-right: 3%;
    border-top: #0477CA 1px solid;
}

    .opinion label {
        text-align: right;
        margin-left: 10px;
        width: auto;
    }

    .opinion input {
        margin-left: 10px;
    }

@media (max-width: 800px) {
    #nickLabel label, #emailLabel label, #opinionLabel label, #gradeLabel label {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
    }

    #nickLabel, #emailLabel, #opinionLabel, #gradeLabel {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100% !important;
    }

        #nickLabel input, #emailLabel input, #opinionLabel textarea, #gradeLabel input {
            height: 30px;
            width: 90% !important;
            clear: both;
            resize: none;
            display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        }

    .opinion .btn-default {
        margin-top: 20px !important;
    }
}

#opinionLabel {
    margin-bottom: 20px;
}

#nickLabel, #emailLabel {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 8px;
    width: 40%;
}

#opinionLabel textarea {
    min-width: 90%;
    height: 90px;
    resize: none;
}

#nickLabel input, #emailLabel input {
    height: 30px;
    width: 70%;
}

#gradeLabel {
    display: inline-block;
    margin-left: 32%;
    margin-bottom: 20px;
}
/*-----footer-----*/
.footer {
    background-color: #0477CA;
    height: 150px;
    width: auto;
    color: white;
}
