<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/star-rating.css" rel="stylesheet" />
    <link href="~/Content/MooEditable.css" rel="stylesheet" />

</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="logo"><a href="~/Place/Index"><img src="~/Content/Images/logo1.png" /></a></div>
            <div class="clear"> </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">@*Toggle navigation*@</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (!Request.IsAuthenticated)
                        {
                            <li><a href="~/Place/Index">Home</a></li>
                            <li><a href="~/Place/AddPlace">Dodaj miejsce</a></li>
                            <li><a href="~/Place/TopTen">Top 10</a></li>
                            <li><a href="~/Place/Search">Wyszukaj</a></li>
                            <li>
                                <div class="container-fluid" ng-controller="searchCtrl">
                                    <input id="inputSearch" ng-model="selected" placeholder="Podaj nazwę lub adres" type="text"
                                           typeahead="place for place in places | filter:$viewValue"
                                           class="form-control" typeahead-on-select="onSelect($item)" typeahead-min-length="2"
                                           typeahead-template-url="searchTemplate">
                                </div>
                            </li>
                        }
                        else
                        {
                            <li><a href="~/Admin/PlaceManagement">Lista miejsc</a></li>
                            <li><a href="~/Admin/LogOff">Wyloguj</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            @RenderBody()
        </div>

        <div class="footer">
            Twórcy serwisu nie odpowiadają za miejsca, które nie są zatwierdzone.
            @Html.ActionLink("Panel Admina", "LogIn", "Admin")
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/highlightNavbar.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/star-rating.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/NgModule/main.js"></script>
    <script src="~/Scripts/MooEditable.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>

<script type="text/ng-template" id="searchTemplate">
    <a id="searchItem">
        <img ng-src="{{match.model.Picture}}">
        <span class="name" bind-html-unsafe="match.model.Name | typeaheadHighlight:query"></span>
        <span class="rate">
            <span class="glyphicon glyphicon-star"></span>
            <span class="rateNumber">{{match.model.Rate}}</span>
        </span>
        <p><span class="location" bind-html-unsafe="match.model.City + ', ' + match.model.Country | typeaheadHighlight:query"></span></p>
    </a>
</script>