@model Ranking.GUI.ViewModels.PlaceDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/GalleryJssor.js"></script>
<div class="midContent">

    <div class="detailsTop">
        <span class="detailsName">@Model.Name</span>
        
        <img src="~/Content/Images/Approved.png" />

    </div>
    <div class="details">
        <div class="contact">
            <span class="capital">Kontakt:</span><br />
            <ul>
                <li><b>&rsaquo;&nbsp;Kraj: </b>@Model.Country</li>
                <li><b>&rsaquo;&nbsp;Miasto: </b>@Model.City</li>
            </ul>

        </div>

        <div class="gallery">
            <span class="capital">Galeria:</span><br />

            @foreach (var item in Model.Picture)
            {
                <a tabindex="1"><img src="~/@item" /></a>
            }
            <span class="close"></span>
        </div>
    </div>

    <div class="description">
        <span class="capital">Opis:</span><br />
        @Model.Description
    </div>

    @{Html.RenderAction("AddOpinion", "Place", new { id = Model.PlaceId });}
    @{Html.RenderAction("Opinions", "Place", new { id = Model.PlaceId });}

</div>



