@using Ranking.GUI.ViewModels
@model IList<OpinionsViewModel>
<div class="showOpinions" ng-app="myModule">
    <div ng-controller="collapseCtrl">
        <button id="showOpinionBtn" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Pokaż opinie</button>
        <div class="opinion" collapse="isCollapsed">
            @foreach (var item in Model)
            {
                <table>
                    <tr>
                        <td>
                            <b>@item.UserNickname</b><br />
                            @item.AddDate.ToString("d") <br />
                            <span id="grade">
                                <input class="rating" value="@item.Rate" data-disabled="true">
                            </span>
                        <td>@item.Content</td>
                        </td>
                    </tr>
                </table>
                <hr />
            }
        </div>
    </div>
</div>

