@using Ranking.GUI.ViewModels.Opinions
@model IList<OpinionsViewModel>
<div class="showOpinions" ng-app="myModule">
    <div ng-controller="collapseCtrl">
        <button id="showOpinionBtn" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Pokaż opinie</button>
        <div class="opinion" collapse="isCollapsed">
            @foreach (var item in Model)
            {
                <table>
                    <tr>
                        <td>
                            <b>@item.UserNickname</b><br />
                            @item.AddDate.ToString("d") <br />
                            <span id="grade">
                                @*<input class="rating form-control hide" value="2,5" data-disabled="true" data-step="0.5">*@
                                <span class="doubleGrade"><span class=" glyphicon glyphicon-star"></span> @item.Rate</span>
                            </span>
                        <td style="padding-left: 50px">@item.Content</td>
                    </tr>
                </table>
                <hr />
            }
        </div>
    </div>
</div>

