@{
    ViewBag.Title = "Szukaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>

<div ng-app="myModule">
    <div ng-controller="searchCtrl">
        <input type="text" placeholder="Szukaj po nazwie.." ng-model="search.Name" class="form-control" />
        <input type="text" placeholder="Szukaj wg nazwy kraju.." ng-model="search.Country" class="form-control" />
        <input type="text" placeholder="Szukaj wg miasta.." ng-model="search.City" class="form-control" />
        <table>
            <tbody ng-repeat="p in places | filter:search">
                <tr>
                    <td>
                        {{p.Name}}
                    </td>
                    <td>
                        {{p.Country}}
                    </td>
                    <td>
                        {{p.City}}
                    </td>
                    <td>
                        <input class="rating" value="{{p.Rate}}" data-disabled="true">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>