@{
    ViewBag.Title = "Szukaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="capital">@ViewBag.Title</span>

<div ng-app="myModule">
    <div ng-controller="searchCtrl" class="searchView">
        <input type="text" placeholder="Szukaj po nazwie.." ng-model="search.Name" class="form-control" />
        <input type="text" placeholder="Szukaj wg miasta.." ng-model="search.City" class="form-control" />
        <input type="text" placeholder="Szukaj wg nazwy kraju.." ng-model="search.Country" class="form-control" />
        <input id="checkSearch"type="checkbox" ng-model="search.Verified" />Tylko zweryfikowane

        <div class="top">
            <div id="topTen" ng-repeat="p in places | filter:search">
                <a ng-click="onSelect(p)">
                    <div id="midImg"><img src="~/{{p.Picture}}" /></div>
                    <div id="midDescription">
                        <span class="hotelName">{{p.Name}}</span><br />
                        <p>{{p.City}}, {{p.Country}}</p>
                        @*<input class="rating" value="@item.Rate" data-disabled="true">*@
                        <span class="doubleGrade"><span class=" glyphicon glyphicon-star"></span> {{p.Rate}}</span>

                    </div>
                </a>
            </div>
        </div>



        @*<table>
                <tbody ng-repeat="p in places | filter:search">
                    <tr>
                        <td>
                            {{p.Name}}
                        </td>
                        <td>
                            {{p.Country}}
                        </td>
                        <td>
                            {{p.City}}
                        </td>
                        <td>
                            <input class="rating" value="{{p.Rate}}" data-disabled="true">
                        </td>
                    </tr>
                </tbody>
            </table>*@
    </div>
</div>
