@model IEnumerable<Ranking.GUI.ViewModels.PlaceListViewModel>
@{
    ViewBag.Title = "TopTen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="midContent">
    <div class="mid">
        <span class="capital">Top 10:</span><br />

        @foreach (var item in Model)
        {
            <div id="midHotel">
                <a href="@Url.Action("Details", "Place", new { id = item.PlaceId })">
                    <div id="midImg"><img src="~/@item.Picture" /></div>
                    <div id="midDescription">
                        <span class="hotelName">@item.Name</span><br />
                        <p>@item.City</p>
                        <input class="rating" value="@item.Rate" data-disabled="true">
                    </div>
                </a>
            </div>
        }
    </div>
</div>